<h1>Administracion de usuarios</h1>
<br>

<span class="p-float-label">
  <input id="float-input" type="text" pInputText>
  <label for="float-input">Username</label>
</span>
<br>
<br>
<span class="p-float-label">
  <input id="float-input" type="email" pInputText>
  <label for="float-input">e-mail</label>
</span>
<br>
<button pButton pRipple type="button" label="Insertar" class="p-button-rounded p-button-secondary"></button>
<br>
<br>
<button pButton pRipple type="button" label="Actualizar" class="p-button-rounded p-button-success"></button>
<br>
<br>
<button pButton pRipple type="button" label="Eliminar" class="p-button-rounded p-button-danger"></button>
